body{
    background-color: rgb(38, 38, 43);
    font-family: cursive;
}
h1 {
    color:ghostwhite;
    font-size: 3vw;
    margin-left: 2.5vw;
    line-height: 20px;
}
#logreg{
    font-size: 2vw;
    position: fixed;
    right: 3vw;
    line-height:20px;
    cursor:pointer;  
}
#loginBox{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
#registerBox{
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
a:any-link{color:snow;}


